# Core functionality - changes here should be rare!
/src/app.py                   @suzarilshah
/src/backend/database.py      @suzarilshah
/src/backend/routers/auth.py  @suzarilshah

# The frontend will need refactored soon to be more object oriented.
/src/static/   @suzarilshah
